@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes grow {
    0%,
    100% {
      transform: scaleY(0.3);
    }
    50% {
      transform: scaleY(1);
    }
  }

  .animate-grow {
    animation: grow 1s ease-in-out infinite;
  }

  .bar {
    width: 3.5px;
    height: 100%;
    background-color: black;
    transition: background-color 0.3s ease;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

